extends layout

block content
    h1 #{title}: #{book.title} 
    p ID: #{book._id}
    hr

    if books_bookinstances.length
        p.text-danger #[strong Delete the following book instance before attempting to delete this book]
            each book in books_bookinstances
                dd #{book.status}
                dd #{book.imprint}
                dt
                    a(href=book.url) #{book._id}
                hr
    
    else 
        form(method='POST' action='')
            .form-group
                input#bookid.form-control(type='text' name='bookid' required='true' value=book._id)
            button.btn.btn-primary(type='submit') Delete Book


        
            
            
        